  <h3>Article for Sale: <%= @article.title %></h3><br>

  <p>Price: <%= @article.price %></p><br>
  <p>Description: <%= @article.description %></p>

  <br>
  <br>
  <a href="/article/edit/<%=@article.key%>">Edit this article</a>
