<h1>Category is <%= @category.name %></h1>
  <ul>
    <% @category.articles.each do |article| %>
      <li><a href="/category/<%=@category.id%>/<%= article.id%>"><%= article.title %></a></li>
      <% end %>
  </ul>
